<h2><%= @board.title %> <%= link_to "(+)", new_board_pin_path(@board) %></h2>

<% @board.pins.each do |pin| %>

<%= link_to board_pin_path(@board, pin) do %>
  <div class="each-board">
    <h3> <%= pin.title %></h3>
    <%= image_tag pin.image_url %>
  </div>
<% end %>
<% end %>
